<%- include ("../partials/header")%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;"> <%=agent.username%> : עדכן</h1>
        <div style="width:30%; margin: 20px auto;text-align: center;">
            <form action="/agent/<%=agent.id%>?_method=PUT" method="POST">
                <label for="username"> שם </label>

                <div class="form-group">
                    <input type="text" id="username" class="form-control" name="username"
                        value="<%=agent.username%>">
                </div>
              
                <label for="status"> טלפון</label>
                <div class="form-group">
                    <input type="text" id="phone" class="form-control" name="phone"
                        value="<%=agent.contact.phone%>">
                </div>
                <label for="status"> מייל</label>
                <div class="form-group">
                    <input type="text" id="email" class="form-control" name="email"
                        value="<%=agent.contact.email%>">
                </div>


                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block ">עדכן פרטי סוכן </button>
                </div>

            </form>

        </div>
    </div>
</div>
<%- include ("../partials/footer")%>