<%- include ("../partials/header")%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;"> <%=agent.username%> : עדכן</h1>
        <div style="width:30%; margin: 20px auto;text-align: center;">
            <form action="/agent/<%=agent.id%>?_method=PUT" method="POST">
                <label for="username"> שם </label>

                <div class="form-group">
                    <input type="text" id="username" class="form-control" name="agent[username]"
                        value="<%=agent.username%>">
                </div>
                <label for="status"> סטטוס</label>
                <div class="form-group">
                    <input type="text" id="status" class="form-control" name="agent[status]" value="<%=agent.status%>">
                </div>
           
    
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block ">הוסף איש קשר </button>
</div>

</form>

        </div>
    </div>
</div>
<%- include ("../partials/footer")%>