<%- include ("../partials/header")%>
<div class="container">
    <div class="row">

        <div style="text-align: center;">

            <h1>רשימת סוכנים </h1>

            <button> <a href="/agent/new">הוסף סוכן </a></button>


            <table class="table table-bordered table-dark  ">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">שם</th>
                        <th scope="col">סטטוס</th>
                    </tr>
                </thead>
                <%for(i=0 ;i<agents.length;i++){%>
                <%if(agents[i].username != process.env.MANAGER){%>
                <tbody>
                    <tr>
                        <td> <a href="/agent/<%=agents[i].id%>"> הצג פרטים </a></td>
                        <td><Strong><%=agents[i].username%> </Strong></td>
                        <td id="changeText"><Strong><%=agents[i].status%> </Strong></td>
                    </tr>
                </tbody>
                <%}%>
                    <%}%>
            </table>



        </div>
    </div>
</div>
</div>
<script>
    var changeText = document.getElementById("changeText")
    if (changeText.innerText == "") {
        changeText.innerHTML ="<Strong>*עדיין לא נקבע*</Strong>" ;
    }
    
</script>
<%- include ("../partials/footer")%>