<%- include ("../partials/header")%>
<div class="container">
    <div style="width:90%; margin: 15% auto;padding: 4px;text-align: center;">
        <h1 style="text-align: center;"> סוכנים </h1>

        <div class="d-flex flex-row justify-content-center">

            <div class="row text-center">
                <%for (i=0 ; i < agents.length ; i++){%>
                <%if(agents[i].username !== process.env.MANAGER){%>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="thumbnail" style="margin:20px;">
                    
                        <a href="/agent/<%=agents[i]._id%>"> name
<!--                            \ -->
                       
                        </a>
                        <div class="caption">
                            <h4><%=agents[i].username%> </h4>
                            <h4 id="changeText"><%= agents[i].status%> </h4>
                        </div>
                        <div class="align-items-end">
                            
                        </div>
                    </div>
                </div>
                <%}%>
                <% }%>
            </div>
        </div>
    </div>
</div>

<script>
    var changeText = document.getElementById("changeText")
    if (changeText.innerText == "") {
        changeText.innerHTML = "<Strong>*עדיין לא נקבע*</Strong>";
    }

</script>
<%- include ("../partials/footer")%>