<%- include ("../partials/header")%>


<!-- FIND SPECIFIC REPORTS  DEPENDING THE DATE  \/ -->
<!-- FIX REPORT PAGE (SHOW IN RED THE LOW RESULT)  \/ -->
<!-- DELETE REPORTS WHEN DELETE AGENTS \/ -->
<!-- why in reports day does not calculate ???? i(reports section ) \/ -->
<!-- need t connect the statistics to the current report   \/  -->
<!-- FIND SPECIFIC STATISTIC PAGE DEPENDEIG THE MONTH  \/ -->
<!-- succsess messeage after the report \/-->
<!-- WORK ON AN ALGORITHIM THAT PERFORMS STATISTICS      1) SET THE PAGE THAT DISPLAY THE STATISTICS CALCULATE BEFORE CREATE IN DB 
                                                         2) CHANGE THIS TO A BACK TO  A FRONT END    
 -->
<!-- REDIRECT REQUEST BROWSE FROM MANAGER TO ANOTHER PAGE CALLED FIND DETAILLS  \/-->


<!-- ADD ERRORS MESSEAGES AD DETAILS -->
<!-- DESIGN THE PAGE  NEW REPORT , LOGIN , SHOW ,REGISTER ,MONTHLY REPORT ,DAY REPORT , ETC' ETC' -->
<!-- UPDATE AND SET THE EDIT SECTION -->



<div class="container">
    <div class="row">
        <div style="text-align: center;">




            <h1 style="text-align: center; text-decoration: underline;"> <strong> נתונים ויעדים
                    <%=agent.username%></strong> </h1>
            <button><a href="/agent">חזור לרשימת סוכנים </a></button>
            <button onclick="return disableWhenNull(<%=agent.reports.length%>)"><a href="/agent/<%=agent.id%>/report">
                    הצג את כל הדוחות </a></button>
            <button><a href="/agent/<%=agent.id%>/edit">ערוך שם </a></button>

            <button><a href="/agent/<%=agent.id%>/setgoals"> קבע יעד כספי </a></button>
            <form action="/agent/<%=agent.id%>?_method=DELETE" method="POST">
                <button onclick="return confirmYourChoice()">מחק סוכן</button>
            </form>
            <button onclick="return disableWhenNull(<%=agent.statistic.length%>)"> <a
                    href="/agent/<%=agent.id%>/report/monthlyreports"> הצג חודשים קודמים</a></button>
            <!--  -->

            <h3>חפש סטטיסטיקות קודמת </h3>
            <form action="/agent/getListStatistics/<%=agent.id%>" method="post">

                <div class="form-group">
                    <input type="date" id="from" class="form-control myDate" name="from" placeholder="מתאריך"
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="date" id="to" class="form-control myDate" name="to" placeholder="לתאריך"
                        autocomplete="off">
                </div>
                <div class=" form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" class="form-control"
                        value="סטטיסטיקות לתאריך ..">
                </div>

            </form>
            <h3>חפש דוחות קודמים </h3>

            <form action="/agent/getListReports/<%=agent.id%>" method="post">

                <div class="form-group">
                    <input type="date" id="from" class="form-control myDate" name="from" placeholder="מתאריך"
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="date" id="to" class="form-control myDate" name="to" placeholder="לתאריך"
                        autocomplete="off">
                </div>
                <div class=" form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" class="form-control"
                        value="דוחות  לתאריך .. ">
                </div>

            </form>

            <table class="table table-bordered table-dark "
                style="margin-bottom: 100px; width:200px; text-align: center; ">
                <thead>
                    <tr>

                        <th scope="col">#</th>
                        <th scope="col">פגישות אצל בעלי נכסים</th>
                        <th scope="col">הדבקת פליירים</th>
                        <th scope="col">למידה והתחדשות</th>
                        <th scope="col">משא ומתן בתהליך</th>
                        <th scope="col">עסקאות בפועל </th>
                        <th scope="col">סיורי שוכרים </th>
                        <th scope="col">שתופי פעולה</th>
                        <th scope="col">שיחות ללקוחות קודמים</th>
                        <th scope="col">הצעות מחיר</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><Strong>נדרש עד היום </Strong></td>
                        <td class="needed"><Strong><%=statistics.meeting%></Strong></td>
                        <td class="needed"><Strong><%=statistics.stickerFlyers%></Strong></td>
                        <td class="needed"><Strong><%=statistics.learninGandRenewal%></Strong></td>
                        <td class="needed"><Strong><%=statistics.negotiationsInTheProcess%></Strong></td>
                        <td class="needed"><Strong><%=statistics.actualTransactions%></Strong></td>
                        <td class="needed"><Strong><%=statistics.rentalTours%></Strong></td>
                        <td class="needed"><Strong><%=statistics.collaborations%></Strong></td>
                        <td class="needed"><Strong><%=statistics.conversationsWithPreviousClients%></Strong></td>
                        <td class="needed"><Strong><%=statistics.pricesOffer%></Strong></td>
                        
                    </tr>
                    <%for(i=0;i<reportGoal.length ; i++){%>
                    <tr>
                        <td><Strong>בוצע עד היום</Strong></td>
                        <td class="actual"><Strong><%=reportGoal[i].countmeeting%></Strong></td>
                        <td class="actual"><Strong><%=reportGoal[i].countstickerflyers%></Strong></td>
                        <td class="actual"><Strong><%=reportGoal[i].countlearninGandRenewal%></Strong></td>
                        <td class="actual"><Strong><%=reportGoal[i].countnegotiationsInTheProcess%></Strong></td>
                        <td class="actual"><Strong><%=reportGoal[i].countactualTransactions%></Strong></td>
                        <td class="actual"><Strong><%=reportGoal[i].countrentalTours%></Strong></td>
                        <td class="actual"><Strong><%=reportGoal[i].countcollaborations%></Strong></td>
                        <td class="actual"><Strong><%=reportGoal[i].countconversationsWithPreviousClients%></Strong></td>
                        <td class="actual"><Strong><%=reportGoal[i].countpricesOffer%></Strong></td>
                        </td>
                    </tr>
                    <%}%>
                
            </tbody>
        </table>


        </div>
    </div>
</div>
</div>
</div>

<script>
    function confirmYourChoice() {

        var x = confirm("האם הינך בטוח שברצונך למחוק סוכן זה?");
        if (x)
            return true;
        else
            return false;

    }
    function disableWhenNull(a) {
        if (a == 0) {
            alert("אין נתונים כרגע")
            return false;
        } else {
            return true;
        }

    }
    
    var actual = document.querySelectorAll(".actual");
        var needed = document.querySelectorAll(".needed");
        
        var i;
        var b;   
        for (i = 0; i < needed.length; i++) {
            if (parseInt(actual[i].innerText) > parseInt(needed[i].innerText)) {
            
                actual[i].style.backgroundColor = "green";
            } else if (parseInt(actual[i].innerText ) < parseInt(needed[i].innerText)) {
                
                actual[i].style.backgroundColor = "red";
                
            } else if (parseInt(actual[i].innerText === 0)) {
                actual[i].style.backgroundColor = "yellow";
                
            }
        }


</script>




<!-- NEED WORK WITH THIS !!!!  -->
<!-- <script>
    var needed = document.querySelectorAll(".needed");
    var actual = document.querySelectorAll(".actual");
    var i;
    for (i = 0; i < needed.length; i++) {
        if (needed[i].innerText > actual[i].innerText) {
            actual[i].style.backgroundColor = "red";
        } else  if (needed[i].innerText < actual[i].innerText) {
            actual[i].style.backgroundColor = "green";
        }else  if (needed[i].innerText == actual[i].innerText){
            actual[i].style.backgroundColor = "yellow";

        }

    }
</script> -->
<%- include ("../partials/footer")%>