<%- include ("../partials/header")%>
<div class="container">
    <div class="row">
        <div style="text-align: center;">
            <h1>  <strong><%=agent.username%></strong></h1>
            <h1 style="text-align: center; text-decoration: underline;"> יעדים לסוכן  </h1>
            <button><a href="/agent">חזור לרשימת סוכנים </a></button>
            <button><a href="/agent/<%=agent.id%>/report"> הצג דוחות </a></button>
            <button><a href="/agent/<%=agent.id%>/edit">ערוך יעדים </a></button>
            <table class="table table-bordered table-dark  ">
                <p> <%=agent.status%> <strong> : סטטוס </strong>    </p>
                

                <thead>
                    <tr>
                        <th scope="col">פגישות נדרשות</th>
                        <th scope="col">ממוצע לסגירת עסקה </th>
                        <th scope="col">סך קונים ממתענינים </th>
                        <th scope="col">סך הצגת נכסים לפני קניה</th>
                        <th scope="col">עמלת סוכן </th>
                        <th scope="col">עמלת עסקה </th>
                        <th scope="col">מכירות בבלעדיות </th>
                        <th scope="col">פגישות בבלעדיות </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <%for(i=0 ;i<statistics.length ; i++ ){%>
                        <td><strong><%=statistics[i].meetings%></strong></td>
                        <td><strong><%=statistics[i].approachesToClosingDeal%></strong></td>
                        <td><strong><%=statistics[i].interestedWhoeBuying%></strong></td>
                        <td><strong><%=statistics[i].propertiesShowUp%></strong></td>
                        <td><strong><%=statistics[i].commissionFee%></strong></td>
                        <td><strong><%=statistics[i].averageTransaction%></strong></td>
                        <td><strong><%=statistics[i].salesExclusivity%></strong></td>
                        <td><strong><%=statistics[i].meetingsExclusivity%></strong></td>
                        <%}%>
                </tr>
           </tbody>  
           </table>
                    

        </div>
    </div>
</div>
</div>
<%- include ("../partials/footer")%>