<%- include ("../partials/header")%>


<!-- FIND SPECIFIC REPORTS  DEPENDING THE DATE  \/ -->
<!-- FIX REPORT PAGE (SHOW IN RED THE LOW RESULT)  \/ -->
<!-- DELETE REPORTS WHEN DELETE AGENTS \/ -->
<!-- why in reports day does not calculate ???? i(reports section ) \/ -->
<!-- need to connect the statistics to the current report   \/  -->
<!-- FIND SPECIFIC STATISTIC PAGE DEPENDEIG THE MONTH  \/ -->
<!-- succsess messeage after the report \/-->




<!-- WORK ON AN ALGORITHIM THAT PERFORMS STATISTICS -->

<div class="container">
    <div class="row">
        <div style="text-align: center;">


            <h1> <strong><%=agent.username%></strong></h1>
            <h1 style="text-align: center; text-decoration: underline;"> יעדים לסוכן </h1>
            <button><a href="/agent">חזור לרשימת סוכנים </a></button>
            <button><a href="/agent/<%=agent.id%>/report"> הצג את כל הדוחות </a></button>
            <button><a href="/agent/<%=agent.id%>/edit">ערוך שם </a></button>
            <button><a href="/agent/<%=agent.id%>/setgoals"> קבע יעד כספי </a></button>
            <button> <a href="/agent/<%=agent.id%>/reportGoals">טבלת יעדים </a></button>
            <form action="/agent/<%=agent.id%>?_method=DELETE" method="POST">
                <button>מחק סוכן</button>
            </form>

            <button> <a href="/agent/<%=agent.id%>/report/monthlyreports"> הצג חודשים קודמים</a></button>

            <h3>חפש סטטיסטיקות קודמת </h3>
            <form action="/agent/getListStatistics/<%=agent.id%>" method="post">

                <div class="form-group">
                    <input type="date" id="from" class="form-control myDate" name="from" placeholder="מתאריך"
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="date" id="to" class="form-control myDate" name="to" placeholder="לתאריך"
                        autocomplete="off">
                </div>
                <div class=" form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" class="form-control"
                        value="בחר דוח לפי תאריך ">
                </div>

                <div class="form-group">
                    <button><a class="btn btn-sm btn-danger btn-block" href="javascript:history.back()">עמוד
                            קודם</a></button>
                </div>
            </form>




            <%for(var b=0 ; b<reportGoal.length; b++){%>
            <%for(var i=0 ; i<statistics.length; i++){%>

            <%if(reportGoal[b]._id.statistics == statistics[i].id){%>
            <table class="table table-bordered table-dark " style="margin-bottom: 100px; width:200px">
                <p> טבלת יעדים לחודש <%=reportGoal[b]._id.month%> סטטיסטיקה מספר :<%=b+1%></p>


                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">פגישות </th>
                        <th scope="col">הדבקות סטיקרים </th>
                        <th scope="col">למידה והתחדשות </th>
                        <th scope="col">משא ומתן בתהליך</th>
                        <th scope="col">עסקאות בפועל </th>
                        <th scope="col">סיורי שוכרים </th>
                        <th scope="col">שתופי פעולה </th>
                        <th scope="col">שיחות ללקוחות קודמים </th>
                        <th scope="col">הצעות מחיר </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>נדרש</strong></td>
                        <td class="needed"><strong><%=statistics[i].meeting%></strong></td>
                        <td class="needed"><strong> <%=statistics[i].stickerFlyers%></strong></td>
                        <td class="needed"><strong><%=statistics[i].learninGandRenewal%></strong></td>
                        <td class="needed"><strong><%=statistics[i].negotiationsInTheProcess%></strong></td>
                        <td class="needed"><strong><%=statistics[i].actualTransactions%></strong></td>
                        <td class="needed"><strong><%=statistics[i].rentalTours%></strong></td>
                        <td class="needed"><strong><%=statistics[i].collaborations%></strong></td>
                        <td class="needed"><strong><%=statistics[i].conversationsWithPreviousClients%></strong></td>
                        <td class="needed"><strong><%=statistics[i].pricesOffer%></strong></td>
                    </tr>
                    <tr>
                        <td><strong>בפועל</strong></td>
                        <td class="actual"><strong><%=reportGoal[b].countmeeting%></strong></td>
                        <td class="actual"><strong><%=reportGoal[b].countstickerflyers%></strong></td>
                        <td class="actual"><strong><%=reportGoal[b].countlearninGandRenewal%></strong></td>
                        <td class="actual"><strong><%=reportGoal[b].countactualTransactions%></strong></td>
                        <td class="actual"><strong><%=reportGoal[b].countnegotiationsInTheProcess%></strong></td>
                        <td class="actual"><strong><%=reportGoal[b].countrentalTours%></strong></td>
                        <td class="actual"><strong><%=reportGoal[b].countcollaborations%></strong></td>
                        <td class="actual"><strong><%=reportGoal[b].countconversationsWithPreviousClients%></strong>
                        </td>
                        <td class="actual"><strong><%=reportGoal[b].countpricesOffer%></strong></td>
                    </tr>
                </tbody>
            </table>
            <%}%>
            <%}%>
            <%}%>
          
          
          
        
            <h3>חפש דוחות קודמים </h3>

            <form action="/agent/getListReports/<%=agent.id%>" method="post">

            <div class="form-group">
                <input type="date" id="from" class="form-control myDate" name="from" placeholder="מתאריך"
                    autocomplete="off">
            </div>
            <div class="form-group">
                <input type="date" id="to" class="form-control myDate" name="to" placeholder="לתאריך"
                    autocomplete="off">
            </div>
            <div class=" form-group">
                <input class="btn btn-lg btn-primary btn-block" type="submit" class="form-control"
                    value="בחר דוח לפי תאריך ">
            </div>

            <div class="form-group">
                <button><a class="btn btn-sm btn-danger btn-block" href="javascript:history.back()">עמוד
                        קודם</a></button>
            </div>
            </form>




            <p></p>

            <%if(report == ""){%>
            <%}else if(report){%>
            <%for(i=0 ;i<report.length;i++){%>
            <% var date = new Date(report[i].date)%>
            <%var month  =  date.getMonth()+1%>
            <%var formatDate =  date.getDate()+" / "+month+" / "+ date.getFullYear() %>
            <table class="table table-bordered table-dark "
                style="margin-bottom: 100px; width:200px; text-align: center; ">
                <thead>
                    <tr>

                        <th scope="col">תאריך</th>
                        <th scope="col">פגישות אצל בעלי נכסים</th>
                        <th scope="col">הדבקת פליירים</th>
                        <th scope="col">למידה והתחדשות</th>
                        <th scope="col">משא ומתן בתהליך</th>
                        <th scope="col">עסקאות בפועל </th>
                        <th scope="col">סיורי שוכרים </th>
                        <th scope="col">שתופי פעולה</th>
                        <th scope="col">שיחות ללקוחות קודמים</th>
                        <th scope="col">הצעות מחיר</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><Strong><%=formatDate%></Strong></td>
                        <td><Strong><%=report[i].meeting%></Strong></td>
                        <td><Strong><%=report[i].stickerFlyers%></Strong></td>
                        <td><Strong><%=report[i].learninGandRenewal%></Strong></td>
                        <td><Strong><%=report[i].negotiationsInTheProcess%></Strong></td>
                        <td><Strong><%=report[i].actualTransactions%></Strong></td>
                        <td><Strong><%=report[i].rentalTours%></Strong></td>
                        <td><Strong><%=report[i].collaborations%></Strong></td>
                        <td><Strong><%=report[i].conversationsWithPreviousClients%></Strong></td>
                        <td><Strong><%=report[i].pricesOffer%></Strong></td>
                        </td>
                    </tr>
                    <%}%>
                            
                        </tbody>
                    </table>
                    
                    <%}%>

        </div>
    </div>
</div>
</div>
</div>

<!-- NEED WORK WITH THIS !!!!  -->
<!-- <script>
    var needed = document.querySelectorAll(".needed");
    var actual = document.querySelectorAll(".actual");
    var i;
    for (i = 0; i < needed.length; i++) {
        if (needed[i].innerText > actual[i].innerText) {
            actual[i].style.backgroundColor = "red";
        } else  if (needed[i].innerText < actual[i].innerText) {
            actual[i].style.backgroundColor = "green";
        }else  if (needed[i].innerText == actual[i].innerText){
            actual[i].style.backgroundColor = "yellow";

        }

    }
</script> -->
<%- include ("../partials/footer")%>