<%- include ("../partials/header")%>
<div class="container">

    <div style="width:70%; margin: 60px auto;padding: 4px;text-align: center;">

        <h1 style="text-align: center; text-decoration: underline; margin-top: 100;"><strong> סטטיסטיקות קודמות</strong>
        </h1>

        <%if(report.length == 0 || statistics.length == 0){%>
        <h3>שגיאת חיפוש </h3>
        <%}else{%>
            <%var o=0%>
    
            <%for(var i=0 ; i<statistics.length; i++){%>
            <%for(var b=0 ; b<report.length; b++){%>
            
        <%if(report[b]._id.statistics == statistics[i].id){%>
        <table class="table table-bordered table-dark " style="margin-bottom: 100px; width:200px">
          
       
            <thead>
                <tr>
                    <td colspan="10"> סטטיסטיקה מספר :<%=o+1%> </td>
                </tr>
               <%o++%>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">פגישות </th>
                    <th scope="col">הדבקות סטיקרים </th>
                    <th scope="col">למידה והתחדשות </th>
                    <th scope="col">משא ומתן בתהליך</th>
                    <th scope="col">עסקאות בפועל </th>
                    <th scope="col">סיורי שוכרים </th>
                    <th scope="col">שתופי פעולה </th>
                    <th scope="col">שיחות ללקוחות קודמים </th>
                    <th scope="col">הצעות מחיר </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>נדרש</strong></td>

                    <td class="needed"><strong><%=statistics[i].meeting%></strong></td>
                    <td class="needed"><strong> <%=statistics[i].stickerFlyers%></strong></td>
                    <td class="needed"><strong><%=statistics[i].learninGandRenewal%></strong></td>
                    <td class="needed"><strong><%=statistics[i].negotiationsInTheProcess%></strong></td>
                    <td class="needed"><strong><%=statistics[i].actualTransactions%></strong></td>
                    <td class="needed"><strong><%=statistics[i].rentalTours%></strong></td>
                    <td class="needed"><strong><%=statistics[i].collaborations%></strong></td>
                    <td class="needed"><strong><%=statistics[i].conversationsWithPreviousClients%></strong></td>
                    <td class="needed"><strong><%=statistics[i].pricesOffer%></strong></td>
                </tr>
                <tr>
                    <td><strong>בפועל</strong></td>
                    <td class="actual"><strong><%=report[b].countmeeting%></strong></td>
                    <td class="actual"><strong><%=report[b].countstickerflyers%></strong></td>
                    <td class="actual"><strong><%=report[b].countlearninGandRenewal%></strong></td>
                    <td class="actual"><strong><%=report[b].countnegotiationsInTheProcess%></strong></td>
                    <td class="actual"><strong><%=report[b].countactualTransactions%></strong></td>
                    <td class="actual"><strong><%=report[b].countrentalTours%></strong></td>
                    <td class="actual"><strong><%=report[b].countcollaborations%></strong></td>
                    <td class="actual"><strong><%=report[b].countconversationsWithPreviousClients%></strong>
                    </td>
                    <td class="actual"><strong><%=report[b].countpricesOffer%></strong></td>
                </tr>
            </tbody>
        </table>
        <%}%>
            <%}%>
        <%}%>
            <%}%>

    </div>
</div>
</div>
<script>


    var actual = document.querySelectorAll(".actual");
    var needed = document.querySelectorAll(".needed");

    var i;
    var b;
    for (i = 0; i < needed.length; i++) {
        if (parseInt(actual[i].innerText) > parseInt(needed[i].innerText)) {

            actual[i].style.backgroundColor = "green";
        } else if (parseInt(actual[i].innerText) < parseInt(needed[i].innerText)) {

            actual[i].style.backgroundColor = "red";

        } else if (parseInt(actual[i].innerText === 0)) {
            actual[i].style.backgroundColor = "yellow";

        }
    }

</script>
<%- include ("../partials/footer")%>