<%- include ("../partials/header")%>
<div class="container">


    <div style="width:70%; margin: 100px auto;padding: 4px;text-align: center;">


        <h1 style="text-align: center;"><strong> דוחות יומיים </strong></h1>

        <%for(i=0;i<report.length;i++){%>
            
     <!-- meetings vars -->
     
     <%var dayGoalMeeting = statistic[0].meeting/daysInCurrentMonth[i]%>
     <%var currentDayGoalMeeting = dayGoalMeeting * currentDayInMonth[i] %> 
     <%var disparityFromToday =report[i].countmeeting- currentDayGoalMeeting %> 
     <%var disparityFromAllMonth =report[i].countmeeting-  statistic[0].meeting %> 
     <!-- stickerFlyers vars -->
     
     <%var dayGoalStickerFlyers = statistic[0].stickerFlyers/daysInCurrentMonth[i]%>
     <%var currentDayGoalStickerFlyers = dayGoalStickerFlyers * currentDayInMonth[i] %> 
     <%var disparityFromTodaySF =report[i].countstickerflyers- currentDayGoalStickerFlyers %> 
     <%var disparityFromAllMonthSF =report[i].countstickerflyers-  statistic[0].stickerFlyers %> 
     <!-- learninGandRenewal vars -->
      
     <%var dayGoalLearningAndRenewal = statistic[0].learninGandRenewal/daysInCurrentMonth[i]%>
     <%var currentDayGoalLearningAndRenewal = dayGoalLearningAndRenewal * currentDayInMonth[i] %> 
     <%var disparityFromTodayLAR =report[i].countlearninGandRenewal- currentDayGoalLearningAndRenewal %> 
     <%var disparityFromAllMonthLAR =report[i].countlearninGandRenewal-  statistic[0].learninGandRenewal %> 
     

     <!-- learninGandRenewal vars -->
     <%var dayGoalNegotiationsInTheProcess = statistic[0].negotiationsInTheProcess/daysInCurrentMonth[i]%>
     <%var currentDayGoalNegotiationsInTheProcess = dayGoalNegotiationsInTheProcess * currentDayInMonth[i] %> 
     <%var disparityFromTodayNITP =report[i].countnegotiationsInTheProcess- currentDayGoalNegotiationsInTheProcess %> 
     <%var disparityFromAllMonthNITP =report[i].countnegotiationsInTheProcess-  statistic[0].negotiationsInTheProcess %> 
     
     <!-- actualTransactions vars -->
     <%var dayGoalActualTransactions = statistic[0].actualTransactions/daysInCurrentMonth[i]%>
     <%var currentDayGoalActualTransactions = dayGoalActualTransactions * currentDayInMonth[i] %> 
     <%var disparityFromTodayAT =report[i].countactualTransactions- currentDayGoalActualTransactions %> 
     <%var disparityFromAllMonthAT =report[i].countactualTransactions-  statistic[0].actualTransactions %> 
   
     <!-- rentalTours vars -->
     <%var dayGoalRentalTours = statistic[0].rentalTours/daysInCurrentMonth[i]%>
     <%var currentDayGoalRedayGoalRentalTours = dayGoalRentalTours * currentDayInMonth[i] %> 
     <%var disparityFromTodayRT =report[i].countrentalTours- currentDayGoalRedayGoalRentalTours %> 
     <%var disparityFromAllMonthRT =report[i].countrentalTours-  statistic[0].rentalTours %> 
    
     <!-- rentalTours vars -->
     <%var dayGoalCollaborations = statistic[0].collaborations/daysInCurrentMonth[i]%>
     <%var currentDayGoalRedayGoalCollaborations = dayGoalCollaborations * currentDayInMonth[i] %> 
     <%var disparityFromTodayC =report[i].countcollaborations- currentDayGoalRedayGoalCollaborations %> 
     <%var disparityFromAllMonthC =report[i].countcollaborations-  statistic[0].collaborations %> 
       
     <!-- conversationsWithPreviousClients vars -->
     <%var dayGoalCWPC = statistic[0].conversationsWithPreviousClients/daysInCurrentMonth[i]%>
     <%var currentDayGoalCWPC = dayGoalCWPC * currentDayInMonth[i] %> 
     <%var disparityFromTodayCWPC =report[i].countconversationsWithPreviousClients- currentDayGoalCWPC %> 
     <%var disparityFromAllMonthCWPC =report[i].countconversationsWithPreviousClients-  statistic[0].conversationsWithPreviousClients %> 
       
     <!-- pricesOffer vars -->
     <%var dayGoalPO = statistic[0].pricesOffer/daysInCurrentMonth[i]%>
     <%var currentDayGoalPO = dayGoalPO * currentDayInMonth[i] %> 
     <%var disparityFromTodayPO=report[i].countpricesOffer- currentDayGoalPO %> 
     <%var disparityFromAllMonthPO =report[i].countpricesOffer-  statistic[0].pricesOffer %> 
       
     <!-- _id: { month: 11, day: 29 },
     countmeeting: 333333,
     countstickerflyers: 3333,
     countlearninGandRenewal: 3333,
     countnegotiationsInTheProcess: 3333,
     countactualTransactions: 3333,
     countcollaborations: 3333,
     countcollaborations: 3333,
     countconversationsWithPreviousClients: 3336,
     countpricesOffer: 3333 -->
       
        <div class="form-group">
            <button class="btn btn-lg btn btn-dark btn-block" type="button" data-toggle="collapse"
                data-target="#days<%=i%>" aria-expanded="false"
                aria-controls="days<%=i%>"><%= report[i]._id.month +" / "+report[i]._id.day %></button>

        </div>

        <div class="collapse multi-collapse" id="days<%=i%>">

          
                <div class="table-hover table-responsive table-dark" style="margin-bottom: 8px;" >
                    
                    <table class="table-sm mx-auto w-auto" >
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#negotiationsInTheProcess<%=i%>" aria-expanded="false"
                                    aria-controls="negotiationsInTheProcess<%=i%>">משא ומתן
                                    בתהליך</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">משא ומתן בתהליך</button> -->
                            </td>
                            <td>
                              <button class="btn btn-sm btn-dark btn-block"  type="button" data-toggle="collapse"
                                  data-target="#meeting<%=i%>" aria-expanded="false"
                                  aria-controls="meeting<%=i%>">פגישות</button>
                              <!-- <button class="btn btn-sm btn-dark btn-block ">פגישות</button> -->
                          </td>

                      </tr>
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#stickerFlyers<%=i%>" aria-expanded="false"
                                    aria-controls="stickerFlyers<%=i%>">הדבקת מודעות</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">הדבקת מודעות</button> -->
                            </td>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#learning<%=i%>" aria-expanded="false"
                                    aria-controls="learning<%=i%>">לימוד
                                    והתקדמות</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">לימוד והתקדמות</button> -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#ActualTransactions<%=i%>" aria-expanded="false"
                                    aria-controls="ActualTransactions<%=i%>">עסקאות בפועל</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">עסקאות בפועל</button> -->
                            </td>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#RentalTours<%=i%>" aria-expanded="false"
                                    aria-controls="RentalTours<%=i%>">סיורי
                                    שוכרים</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">סיורי שוכרים</button> -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#Collaborations<%=i%>" aria-expanded="false"
                                    aria-controls="Collaborations<%=i%>">שיתופי פעולה</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">שתופי פעולה</button> -->
                            </td>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#ConversationsWithPreviousClients<%=i%>" aria-expanded="false"
                                    aria-controls="ConversationsWithPreviousClients<%=i%>">שיחות
                                    ללקוחות קודמים</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">שיחות ללקוחות קודמים </button> -->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                data-target="#PricesOffer<%=i%>" aria-expanded="false"
                                aria-controls="PricesOffer<%=i%>">הצעות
                                מחיר</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">הצעות מחיר</button> -->
                            </td>
                        </tr>
                        </table>
                        
            </div>
        </div>
        <div class="collapse multi-collapse " id="meeting<%=i%>">

            <table class="table-sm  mx-auto w-auto" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countmeeting)%>
                        </td>
                        <td>
                            <%=Math.floor(dayGoalMeeting)%>
                        </td>
                       
                        <td class="change_color"><%=Math.floor(disparityFromToday)%></td>
                        <td class="change_color"><%=Math.floor(disparityFromAllMonth)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse " id="stickerFlyers<%=i%>">

            <table class="table-sm  mx-auto w-auto" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countstickerflyers)%>
                        </td>
                        <td>
                            <%=Math.floor(dayGoalStickerFlyers)%>
                        </td>
                       
                        <td class="change_color"><%=Math.floor(disparityFromTodaySF)%></td>
                        <td class="change_color"><%=Math.floor(disparityFromAllMonthSF)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse " id="learning<%=i%>">

            <table class="table-sm  mx-auto w-auto" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countlearninGandRenewal)%>
                        </td>
                        <td>
                            <%=Math.floor(dayGoalLearningAndRenewal)%>
                        </td>
                       
                        <td class="change_color"><%=Math.floor(disparityFromTodayLAR)%></td>
                        <td class="change_color"><%=Math.floor(disparityFromAllMonthLAR)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse " id="negotiationsInTheProcess<%=i%>">

            <table class="table-sm  mx-auto w-auto" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countnegotiationsInTheProcess)%>
                        </td>
                        <td>
                            <%=Math.floor(dayGoalNegotiationsInTheProcess)%>
                        </td>
                       
                        <td class="change_color"><%=Math.floor(disparityFromTodayAT)%></td>
                        <td class="change_color"><%=Math.floor(disparityFromAllMonthAT)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse " id="actualTransactions<%=i%>">

            <table class="table-sm  mx-auto w-auto" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countnegotiationsInTheProcess)%>
                        </td>
                        <td>
                            <%=Math.floor(dayGoalActualTransactions)%>
                        </td>
                       
                        <td class="change_color"><%=Math.floor(disparityFromTodayNITP)%></td>
                        <td class="change_color"><%=Math.floor(disparityFromAllMonthNITP)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse " id="RentalTours<%=i%>">

            <table class="table-sm  mx-auto w-auto" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countrentalTours)%>
                        </td>
                        <td>
                            <%=Math.floor(dayGoalRentalTours)%>
                        </td>
                       
                        <td class="change_color"><%=Math.floor(disparityFromTodayRT)%></td>
                        <td class="change_color"><%=Math.floor(disparityFromAllMonthRT)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse " id="Collaborations<%=i%>">

            <table class="table-sm  mx-auto w-auto" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countcollaborations)%>
                        </td>
                        <td>
                            <%=Math.floor(dayGoalCollaborations)%>
                        </td>
                       
                        <td class="change_color"><%=Math.floor(disparityFromTodayC)%></td>
                        <td class="change_color"><%=Math.floor(disparityFromAllMonthC)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
      
        <div class="collapse multi-collapse " id="ConversationsWithPreviousClients<%=i%>">

            <table class="table-sm  mx-auto w-auto" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countconversationsWithPreviousClients)%>
                        </td>
                        <td>
                            <%=Math.floor(dayGoalCWPC)%>
                        </td>
                       
                        <td class="change_color"><%=Math.floor(disparityFromTodayCWPC)%></td>
                        <td class="change_color"><%=Math.floor(disparityFromAllMonthCWPC)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse " id="PricesOffer<%=i%>">

            <table class="table-sm  mx-auto w-auto" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countpricesOffer)%>
                        </td>
                        <td>
                            <%=Math.floor(dayGoalPO)%>
                        </td>
                       
                        <td class="change_color"><%=Math.floor(disparityFromTodayPO)%></td>
                        <td class="change_color"><%=Math.floor(disparityFromAllMonthPO)%></td>

                    </tr>
                </tbody>
            </table>
        </div>

            <%}%>
    </div>
</div>
</div>
<script>
    var change_color = document.querySelectorAll(".change_color");
    var i;
    for (i = 0; i < change_color.length; i++) {
        if (parseInt(change_color[i].innerText) > 0) {

            change_color[i].style.backgroundColor = "green";
        } else if (parseInt(change_color[i].innerText) == 0) {
            change_color[i].style.backgroundColor = "yellow";
        } else {
            change_color[i].style.backgroundColor = "red";

        }
    }
</script>

<%- include ("../partials/footer")%>