<%- include ("../partials/header")%>
<div class="container">


    <div style="width:70%; margin: 100px auto;padding: 4px;text-align: center;">


        <h1 style="text-align: center;"><strong> דוחות יומיים </strong></h1>

        <%var asfc = 0 %>
        <%var bsfc =0%>
        <%var amc =0%>
        <%var bmc =0%>
        <%var alarc =0%>
        <%var blarc =0%>
        <%var anipc =0%>
        <%var bnipc =0%>
        <%var aatc =0%>
        <%var batc =0%>
        <%var artc =0%>
        <%var brtc =0%>
        <%var acc =0%>
        <%var bcc =0%>
        <%var apoc =0%>
        <%var bpoc =0%>
        <%var acpcc =0%>
        <%var bcpcc =0%>

        <%for(i=0;i<report.length;i++){%>
        <%if(analisys.month[i] == new Date().getMonth()+1){ %>

        <!-- flyers vars -->
        <%var currentDayGoalStickerFliyers = analisys.currentMonthTotalDays[i] * analisys.monthlyNeedstickerFlyers%>
        <%var monthlyStickerfliyersBalance = analisys.sumMonthlyStickerFlyers[i] - currentDayGoalStickerFliyers%>
        <%var sumDayMissing = report[i].countstickerflyers - analisys.monthlyNeedstickerFlyers%>
        <%asfc += report[i].countstickerflyers%>
        <%bsfc = asfc-monthlyGoals.monthlyNeedstickerFlyers %>

        <!-- meetings vars -->
        <%var currentDayGoal = analisys.currentMonthTotalDays[i] * analisys.monthlyNeedMeetings%>
        <%var monthlyMeetingsBalance = analisys.sumMonthlyMeetings[i] - currentDayGoal%>
        <%var sumDayMissingA = report[i].countmeeting - analisys.monthlyNeedMeetings%>
        <%amc += report[i].countmeeting%>
        <%bmc = amc-monthlyGoals.monthlyNeedMeetings %>

        <!-- learninGandRenewal vars -->

        <%var currentDayGoalLearninGandRenewal = analisys.currentMonthTotalDays[i] * analisys.monthlyNeedLearninGandRenewal%>
        <%var monthlyLearninGandRenewalBalance = analisys.sumMonthlyLearninGandRenewal[i] - currentDayGoalLearninGandRenewal%>
        <%var sumDayMissingB = report[i].countlearninGandRenewal - analisys.monthlyNeedlearninGandRenewal%>
        <%alarc += report[i].countlearninGandRenewal%>
        <%blarc = alarc-monthlyGoals.monthlyNeedlearninGandRenewal %>

        <!-- negotiationsInTheProcess -->

        <%var currentDayGoalNegotiationsInTheProcess = analisys.currentMonthTotalDays[i] * analisys.monthlyNeednegotiationsInTheProcess%>
        <%var monthlyNegotiationsInTheProcessBalance = analisys.sumMonthlyNegotiationsInTheProcess[i] - currentDayGoalNegotiationsInTheProcess%>
        <%var sumDayMissingC = report[i].countnegotiationsInTheProcess - analisys.monthlyNeednegotiationsInTheProcess%>
        <%anipc += report[i].countnegotiationsInTheProcess%>
        <%bnipc = anipc-monthlyGoals.monthlyNeednegotiationsInTheProcess%>

        <!-- sumMonthlyActualTransactions -->
        <%var currentDayGoalActualTransactions = analisys.currentMonthTotalDays[i] * analisys.monthlyNeedactualTransactions%>
        <%var monthlyActualTransactionsBalance = analisys.sumMonthlyActualTransactions[i] - currentDayGoalActualTransactions%>
        <%var sumDayMissingD = report[i].countactualTransactions - analisys.monthlyNeedactualTransactions%>
        <%aatc += report[i].countactualTransactions %>
        <%batc = aatc-monthlyGoals.monthlyNeedactualTransactions%>

        <!-- RentalTours -->


        <%var currentDayGoalRentalTours = analisys.currentMonthTotalDays[i] *  analisys.monthlyNeedrentalTours%>
        <%var monthlyRentalToursBalance = analisys.sumMonthlyRentalTours[i] - currentDayGoalRentalTours%>
        <%var sumDayMissingE = report[i].countrentalTours - analisys.monthlyNeedrentalTours%>
        <%artc += report[i].countrentalTours   %>
        <%brtc = artc-monthlyGoals.monthlyNeedrentalTours%>

        <!-- Collaborations -->

        <%var  currentDayGoalCollaborations = analisys.currentMonthTotalDays[i] *  analisys.monthlyNeedcollaborations %>
        <%var monthlyCollaborationsBalance = analisys.sumMonthlyCollaborations[i] - currentDayGoalCollaborations%>
        <%var sumDayMissingF = report[i].countcollaborations - analisys.monthlyNeedcollaborations%>
        <%acc += report[i].countcollaborations   %>
        <%bcc = acc-monthlyGoals.monthlyNeedcollaborations%>

        <!-- ConversationsWithPreviousClients -->
        <%var currentDayGoalConversationsWithPreviousClients = analisys.currentMonthTotalDays[i] * analisys.monthlyNeedconversationsWithPreviousClients%>
        <%var monthlyConversationsWithPreviousClientsBalance = analisys.sumMonthlyConversationsWithPreviousClients[i] - currentDayGoalConversationsWithPreviousClients%>
        <%var sumDayMissingG = report[i].countconversationsWithPreviousClients - analisys.monthlyNeedconversationsWithPreviousClients%>
        <%acpcc += report[i].countconversationsWithPreviousClients %>
        <%bcpcc = acpcc-monthlyGoals.monthlyNeedconversationsWithPreviousClients %>

        <!-- PricesOffer -->
        <%var currentDayGoalPricesOffer = analisys.currentMonthTotalDays[i] * analisys.monthlyNeedpricesOffer %>
        <%var monthlyPricesOfferBalance = analisys.sumMonthlyPricesOffer[i] - currentDayGoalPricesOffer%>
        <%var sumDayMissingH = report[i].countpricesOffer - analisys.monthlyNeedpricesOffer %>
        <%apoc += report[i].countpricesOffer %>
        <%bpoc = apoc-monthlyGoals.monthlyNeedpricesOffer   %>

        <div class="form-group">
            <button class="btn btn-lg btn btn-dark btn-block" type="button" data-toggle="collapse"
                data-target="#days<%=i%>" aria-expanded="false"
                aria-controls="days<%=i%>"><%=analisys.month[i] +" / "+analisys.day[i] %></button>

        </div>

        <div class="collapse multi-collapse" id="days<%=i%>">

          
                <div class="table-hover table-responsive table-dark" style="margin-bottom: 8px;" >
                    
                    <table class="table-sm mx-auto w-auto" >
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#negotiationsInTheProcess<%=i%>" aria-expanded="false"
                                    aria-controls="negotiationsInTheProcess<%=i%>">משא ומתן
                                    בתהליך</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">משא ומתן בתהליך</button> -->
                            </td>
                            <td>
                              <button class="btn btn-sm btn-dark btn-block"  type="button" data-toggle="collapse"
                                  data-target="#meeting<%=i%>" aria-expanded="false"
                                  aria-controls="meeting<%=i%>">פגישות</button>
                              <!-- <button class="btn btn-sm btn-dark btn-block ">פגישות</button> -->
                          </td>

                      </tr>
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#stickerFlyers<%=i%>" aria-expanded="false"
                                    aria-controls="stickerFlyers<%=i%>">הדבקת מודעות</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">הדבקת מודעות</button> -->
                            </td>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#learning<%=i%>" aria-expanded="false"
                                    aria-controls="learning<%=i%>">לימוד
                                    והתקדמות</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">לימוד והתקדמות</button> -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#ActualTransactions<%=i%>" aria-expanded="false"
                                    aria-controls="ActualTransactions<%=i%>">עסקאות בפועל</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">עסקאות בפועל</button> -->
                            </td>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#RentalTours<%=i%>" aria-expanded="false"
                                    aria-controls="RentalTours<%=i%>">סיורי
                                    שוכרים</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">סיורי שוכרים</button> -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#Collaborations<%=i%>" aria-expanded="false"
                                    aria-controls="Collaborations<%=i%>">שיתופי פעולה</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">שתופי פעולה</button> -->
                            </td>
                            <td>
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                    data-target="#ConversationsWithPreviousClients<%=i%>" aria-expanded="false"
                                    aria-controls="ConversationsWithPreviousClients<%=i%>">שיחות
                                    ללקוחות קודמים</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">שיחות ללקוחות קודמים </button> -->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-sm btn-dark btn-block" type="button" data-toggle="collapse"
                                data-target="#PricesOffer<%=i%>" aria-expanded="false"
                                aria-controls="PricesOffer<%=i%>">הצעות
                                מחיר</button>
                                <!-- <button class="btn btn-sm btn-dark btn-block">הצעות מחיר</button> -->
                            </td>
                        </tr>
                        </table>
                        
            </div>
        </div>
        <div class="collapse multi-collapse" id="meeting<%=i%>">

            <table class="table-sm" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countmeeting)%>
                        </td>
                        <td>
                            <%=Math.floor(analisys.monthlyNeedMeetings)%>
                        </td>
                        <td class="change_color"><%=Math.floor(bmc)%></td>
                        <td class="change_color"><%=Math.floor(sumDayMissingA)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse" id="stickerFlyers<%=i%>">

            <table class="table-sm" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countstickerflyers)%>
                        </td>
                        <td>
                            <%=Math.floor(analisys.monthlyNeedstickerFlyers)%>
                        </td>
                        <td class="change_color"><%=Math.floor(bsfc)%></td>
                        <td class="change_color"><%=Math.floor(sumDayMissing)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse" id="learning<%=i%>">

            <table class="table-sm" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countlearninGandRenewal)%>
                        </td>
                        <td>
                            <%=Math.floor(analisys.monthlyNeedlearninGandRenewal)%>
                        </td>
                        <td class="change_color"><%=Math.floor(blarc)%></td>
                        <td class="change_color"><%=Math.floor(sumDayMissingB)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse" id="negotiationsInTheProcess<%=i%>">

            <table class="table-sm" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>
                            <%=Math.floor(report[i].countnegotiationsInTheProcess)%>
                        </td>
                        <td>
                            <%=Math.floor(analisys.monthlyNeednegotiationsInTheProcess)%>
                        </td>
                        <td class="change_color"><%=Math.floor(bnipc)%></td>
                        <td class="change_color"><%=Math.floor(sumDayMissingC)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse" id="ActualTransactions<%=i%>">

            <table class="table-sm" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <%=Math.floor(report[i].countactualTransactions)%>
                        </td>
                        <td>
                            <%=Math.floor(analisys.monthlyNeedactualTransactions)%>
                        </td>
                        <td class="change_color"><%=Math.floor(batc)%></td>
                        <td class="change_color"><%=Math.floor(sumDayMissingD)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse" id="RentalTours<%=i%>">

            <table class="table-sm" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countrentalTours)%>
                        </td>
                        <td>
                            <%=Math.floor(analisys.monthlyNeedrentalTours)%>
                        </td>
                        <td class="change_color"><%=Math.floor(brtc)%></td>
                        <td class="change_color"><%=Math.floor(sumDayMissingE)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse" id="Collaborations<%=i%>">

            <table class="table-sm" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countcollaborations)%>
                        </td>
                        <td>
                            <%=Math.floor(analisys.monthlyNeedcollaborations)%>
                        </td>
                        <td class="change_color"><%=Math.floor(bcc)%></td>
                        <td class="change_color"><%=Math.floor(sumDayMissingF)%></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="collapse multi-collapse" id="ConversationsWithPreviousClients<%=i%>">

            <table class="table-sm" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countconversationsWithPreviousClients)%>
                        </td>
                        <td>
                            <%=Math.floor(analisys.monthlyNeedconversationsWithPreviousClients)%>
                        </td>
                        <td class="change_color"><%=Math.floor(bcpcc)%></td>
                        <td class="change_color"><%=Math.floor(sumDayMissingG)%></td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="collapse multi-collapse" id="PricesOffer<%=i%>">

            <table class="table-sm" style=" background-color: rgb(255, 230, 215); margin-top: 20px;">
                <tr>
                    <th> בוצע </th>
                    <th> יעד יומי</th>
                    <th> פער מהיעד החודשי </th>
                    <th> פער מהיעד היומי </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=Math.floor(report[i].countpricesOffer)%>
                        </td>
                        <td>
                            <%=Math.floor(analisys.monthlyNeedpricesOffer)%>
                        </td>
                        <td class="change_color"><%=Math.floor(bpoc)%></td>
                        <td class="change_color"><%=Math.floor(sumDayMissingH)%></td>

                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <table class="table table-bordered table-dark " >
        <thead>
            <tr>
                <th colspan="5"><%=analisys.month[i] +" / "+analisys.day[i] %></th>
            </tr>
                    <tr>
                        <th> </th>
                        <th> בוצע  </th>
                        <th> יעד יומי</th>
                        <th> פער מהיעד החודשי </th>
                        <th> פער מהיעד היומי </th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>הדבקת פליירים</td>
                        <td><%=report[i].countstickerflyers%></td>
                        <td><%=analisys.monthlyNeedstickerFlyers.toFixed(2)%></td>
                        <td class="change_color"><%=bsfc%></td>
                        <td class="change_color" ><%=sumDayMissing.toFixed(1)%></td>
                    </tr>

                    <tr>
                        <td>פגישות אצל בעלי נכסים</td>
                        <td><%=report[i].countmeeting%></td>
                        <td><%=analisys.monthlyNeedMeetings.toFixed(1)%></td>
                        <td class="change_color"><%=bmc%></td>
                        <td class="change_color" ><%=sumDayMissingA.toFixed(1)%></td>
                    </tr>
                    <tr>
                        <td>למידה והתחדשות</td>
                        <td><%=report[i].countlearninGandRenewal%></td>
                        <td><%=analisys.monthlyNeedlearninGandRenewal.toFixed(1)%></td>
                        <td class="change_color"><%=blarc%></td>
                        <td class="change_color" ><%=sumDayMissingB.toFixed(2)%></td>
                    </tr>
                    <tr>
                        <td>משא ומתן בתהליך</td>
                        <td><%=report[i].countnegotiationsInTheProcess%></td>
                        <td><%=analisys.monthlyNeednegotiationsInTheProcess.toFixed(2)%></td>
                        <td class="change_color"><%=bnipc%></td>
                        <td class="change_color" ><%=sumDayMissingC.toFixed(2)%></td>
                    </tr>
                    <tr>
                        <td>עסקאות בפועל </td>
                        <td><%=report[i].countactualTransactions%></td>
                        <td><%=analisys.monthlyNeedactualTransactions.toFixed(2)%></td>
                        <td  class="change_color"><%=batc%></td>
                        <td class="change_color" ><%=sumDayMissingD.toFixed(2)%></td>
                    </tr>
                    
                    <tr>
                        <td>סיורי שוכרים </td>
                        <td><%=report[i].countrentalTours%></td>
                        <td><%=analisys.monthlyNeedrentalTours.toFixed(2)%></td>
                        <td  class="change_color"><%=brtc%></td>
                        <td class="change_color" ><%=sumDayMissingE.toFixed(2)%></td>
                    </tr>
                    <tr>
                        <td>שתופי פעולה</td>
                        <td><%=report[i].countcollaborations%></td>
                        <td><%=analisys.monthlyNeedcollaborations.toFixed(2)%></td>
                        <td  class="change_color"><%=bcc%></td>
                        <td class="change_color" ><%=sumDayMissingF.toFixed(2)%></td>
                    </tr>
                    <tr>
                        
                        <td>
                            <p> שיחות ללקוחות קודמים </p>
                        </td>
                        <td>
                            <p> <%=report[i].countconversationsWithPreviousClients  %></p>
                        </td>
                        <td><%=analisys.monthlyNeedconversationsWithPreviousClients.toFixed(2)%></td>
                        <td  class="change_color"><%=bcpcc%></td>
                        <td class="change_color" ><%=sumDayMissingG.toFixed(2)%></td>
                    </tr>
                    =====
                    
                    
                    <tr>
                        <td>
                            <p> הצעות מחיר</p>
                        </td>
                        <td><%=report[i].countpricesOffer%></td>
                        <td><%=analisys.monthlyNeedpricesOffer.toFixed(2)%></td>
                        <td  class="change_color"><%=bpoc%></td>
                        <td class="change_color" ><%=sumDayMissingH.toFixed(2)%></td>
                    </tr>

                </tbody>

            </table> -->
        <%}%>
            <%}%>
    </div>
</div>
</div>
<script>
    var change_color = document.querySelectorAll(".change_color");
    var i;
    for (i = 0; i < change_color.length; i++) {
        if (parseInt(change_color[i].innerText) > 0) {

            change_color[i].style.backgroundColor = "green";
        } else if (parseInt(change_color[i].innerText) == 0) {
            change_color[i].style.backgroundColor = "yellow";
        } else {
            change_color[i].style.backgroundColor = "red";

        }
    }
</script>

<%- include ("../partials/footer")%>