<%- include ("../partials/header")%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">טופס מעקב   <strong>   <%=agents.username%></strong></h1>
        <div style="text-align: center;">
            <a href="/agent/<%=agents.id%>/report/new">טופס</a>
            <%for(i=0 ;i<report.length;i++){%>
            <%for(b=0 ;b<agents.reports.length;b++){%>
               
              
                <%if(report[i].id == agents.reports[b]){%>
               
                <p> <strong><a href="/agent/<%=agents.id%>/report/<%=report[i].id%>">More Detaills</a></strong>  <%=report[i].tours%> <strong>   <%=report[i].meeting%></strong>   </p>
                           
                <%}%>
                <%}%>
                <%}%>
                
            </div>
            </div> 
        </div>
    </div>
    <%- include ("../partials/footer")%>