<%- include ("../partials/header")%>
<div class="container">
    <div class="row">
        <%- include ("../partials/header")%>
        <% var d = new Date()%>
        <%var month  =  d.getMonth()+1%>
        <%var hour  =  d.getHours();%>
        <%var minutes  =  d.getMinutes();%>
        <%var year  =   d.getFullYear();%>
        <%var date  =   d.getDate();%>
         
        <%var datestring = date+ "-" + month+ "-" +year+ "    " +hour + ":" +minutes%>
    
        <h1 style="text-align: center;"> <strong> <%=agents.username%></strong> טופס מעקב </h1>
               
        <div style="width:30%; margin: 20px auto;text-align: center;">
           
            <button>  <a href="/agent/<%=agents.id%>/report">יומן</a></button> 
            <button> <a href="/agent/<%=agents.id%>/report/monthlyreports">דוחות חודשיים </a></button>
            <button>  <a href="/agent/<%=agents.id%>/report/dayreport">דוחות יומיים  </a></button>
            <form action="/agent/<%=agents.id%>/report" method="POST">
                
                <table>
                    <thead>
                        <tr>
                            
                            <th colspan="2"><%=datestring%></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>פגישות </td>
                            <td><input type="number" class="form-control" name="meeting" required></td>
                        </tr>
                        <tr>
                            <td>הדבקת פליירים </td>
                            <td><input type="number" class="form-control" name="stickerFlyers"></td>
                        </tr>
                        <tr>
                            <td>למידה והתחדשות</td>
                            <td><input type="number" class="form-control" name="learninGandRenewal"></td>
                        </tr>
                        <tr>
                            <td>משא ומתן בתהליך </td>
                            <td><input type="number" class="form-control" name="negotiationsInTheProcess"></td>
                        </tr>
                        <tr>
                            <td>עסקאות בפועל </td>
                            <td><input type="number" class="form-control" name="actualTransactions"></td>
                        </tr>
                        <tr>
                            <td>סיורי שוכרים </td>
                            <td><input type="number" class="form-control" name="rentalTours"></td>
                        </tr>
                        <tr>
                            <td>שתופי פעולה </td>
                            <td><input type="number" class="form-control" name="collaborations"></td>
                        </tr>
                        <tr>
                            <td>שיחות ללקוחות קודמים </td>
                            <td><input type="number" class="form-control" required  name="conversationsWithPreviousClients"></td>
                        </tr>
                        <tr>
                            <td>הצעות מחיר </td>
                            <td><input type="number" class="form-control" name="pricesOffer"></td>
                        </tr>
                        <tr>
                            <td colspan="2" ><input type="text" class="form-control" name="remarks" placeholder="הערות "> </td>
                        </tr>
                        
                    </tbody>
                </table>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block " onclick="sendAlert()" >שלח טופס</button>
                </div>

            </form>
         
             <button><a href="/logout">התנתק</a>   </button>
        </div>
    </div>
</div>
<script>
   function  sendAlert(){
       alert("האם ברצונך לאשר את הדוח ?");
   };
</script>
<%- include ("../partials/footer")%>