<%- include ("../partials/header")%>
<div class="container">
    <div class="row">
     
        <div style="text-align: center;">
                 <h1>Report From   <%=agents.username%>  </h1>
                 <button><a href="/agent/<%=agents.id%>/report">SHOW ALL LIST</a></button>
                <strong> פגישות   <%=report.tours%>   </strong>
                <strong>  סיורים  <%=report.meeting%></strong>
            <button><a href="/agent/<%=agents.id%>/report/<%=report.id%>/edit">EDIT</a></button>
                
            </div>
            </div> 
        </div>
    </div>
    <%- include ("../partials/footer")%>
